<head>
  <link href="/css/content.css" type="text/css" rel="stylesheet" />
  <script src="/js/content.js" defer type="text/javascript"></script>
</head>
<body>
  <div class="container" id="card_outer_container">
    <!-- <div class="card" id="card">
      <span class="rounded_number" id="number"></span>
    </div> -->
  </div>
</body>
