<head>
  <link href="/css/siderbar.css" type="text/css" rel="stylesheet" />
  <script src="/js/sidebar.js" defer type="text/javascript"></script>
</head>
<body>
  <div class="container">
    <div class="input_container">
      <h3>Quantity</h3>
      <input id="qty_input" onkeyup="processChange()" />
    </div>
  </div>
</body>
